@import url('https://cdn-font.hyperos.mi.com/font/css?family=MiSans:0:Chinese_Simplify,Chinese_Traditional_TW,Latin&display=swap');

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 100 800;
	font-display: swap;
	src: url('../fonts/JetBrains_Mono.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Literata';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3NQ6P12-iJxAIgLYT1PLs1Zd0nfUwAbeGVKoRYzNiCp1OUedn8f7XWSQ.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3NQ6P12-iJxAIgLYT1PLs1Zd0nfUwAbeGVKoRYzNiCp1OUedn8obXWSQ.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3NQ6P12-iJxAIgLYT1PLs1Zd0nfUwAbeGVKoRYzNiCp1OUedn8_7XWSQ.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3NQ6P12-iJxAIgLYT1PLs1Zd0nfUwAbeGVKoRYzNiCp1OUedn8zbXWSQ.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3NQ6P12-iJxAIgLYT1PLs1Zd0nfUwAbeGVKoRYzNiCp1OUedn8IbLWSQ.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3NQ6P12-iJxAIgLYT1PLs1Zd0nfUwAbeGVKoRYzNiCp1OUedn8GLLWSQ.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3NQ6P12-iJxAIgLYT1PLs1Zd0nfUwAbeGVKoRYzNiCp1OUedn8f7LWSQ.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3NQ6P12-iJxAIgLYT1PLs1Zd0nfUwAbeGVKoRYzNiCp1OUedn8VrLWSQ.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3PQ6P12-iJxAIgLa78DkrbXsDgk0oVDaDPYLanFLHpPf2TbJG_F_Y.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3PQ6P12-iJxAIgLa78DkrbXsDgk0oVDaDPYLanFLHpPf2TbE-_F_Y.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3PQ6P12-iJxAIgLa78DkrbXsDgk0oVDaDPYLanFLHpPf2TbBG_F_Y.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3PQ6P12-iJxAIgLa78DkrbXsDgk0oVDaDPYLanFLHpPf2TbCO_F_Y.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3PQ6P12-iJxAIgLa78DkrbXsDgk0oVDaDPYLanFLHpPf2TbM-4F_Y.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3PQ6P12-iJxAIgLa78DkrbXsDgk0oVDaDPYLanFLHpPf2TbPa4F_Y.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3PQ6P12-iJxAIgLa78DkrbXsDgk0oVDaDPYLanFLHpPf2TbJG4F_Y.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/literata/v40/or3PQ6P12-iJxAIgLa78DkrbXsDgk0oVDaDPYLanFLHpPf2TbLi4F_Y.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/l/font?kit=iJWbBXyIfDnIV7nEt3KSJbVDV49rz8sDE0UwbYSs8-Y&skey=80e52bf85b0b1958&v=v31')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/l/font?kit=iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tdE0UwbYSs8-Y&skey=80e52bf85b0b1958&v=v31')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/l/font?kit=iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tvE0UwbYSs8-Y&skey=80e52bf85b0b1958&v=v31')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/l/font?kit=iJWbBXyIfDnIV7nEt3KSJbVDV49rz8uDFEUwbYSs8-Y&skey=80e52bf85b0b1958&v=v31')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/l/font?kit=iJWbBXyIfDnIV7nEt3KSJbVDV49rz8u6FEUwbYSs8-Y&skey=80e52bf85b0b1958&v=v31')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/l/font?kit=iJWbBXyIfDnIV7nEt3KSJbVDV49rz8vdFEUwbYSs8-Y&skey=80e52bf85b0b1958&v=v31')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/l/font?kit=iJWbBXyIfDnIV7nEt3KSJbVDV49rz8v0FEUwbYSs8-Y&skey=80e52bf85b0b1958&v=v31')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/rubik/v31/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYi1UA.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/rubik/v31/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4i1UA.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/rubik/v31/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYi1UA.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/rubik/v31/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-2Y-1UA.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/rubik/v31/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-1UA.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/rubik/v31/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-h4-1UA.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/rubik/v31/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-1UA.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Literata';
	font-style: normal;
	font-weight: 200 900;
	font-display: swap;
	src: url('../fonts/Literata.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Literata';
	font-style: italic;
	font-weight: 200 900;
	font-display: swap;
	src: url('../fonts/Literata_Italic.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300 900;
	font-display: swap;
	src: url('../fonts/Rubik.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 300 900;
	font-display: swap;
	src: url('../fonts/Rubik_Italic.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Noto Serif SC';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/notoserifsc/v35/H4cyBXePl9DZ0Xe7gG9cyOj7uK2-n-D2rd4FY7SCqyWv.ttf')
		format('truetype');
	unicode-range:
		U+3000-303F, U+31C0-31EF, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF,
		U+FF00-FFEF, U+20000-2EBEF;
}

@font-face {
	font-family: 'Noto Serif SC';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/notoserifsc/v35/H4cyBXePl9DZ0Xe7gG9cyOj7uK2-n-D2rd4FY7SwqyWv.ttf')
		format('truetype');
	unicode-range:
		U+3000-303F, U+31C0-31EF, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF,
		U+FF00-FFEF, U+20000-2EBEF;
}

@font-face {
	font-family: 'Noto Serif SC';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/notoserifsc/v35/H4cyBXePl9DZ0Xe7gG9cyOj7uK2-n-D2rd4FY7RlrCWv.ttf')
		format('truetype');
	unicode-range:
		U+3000-303F, U+31C0-31EF, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF,
		U+FF00-FFEF, U+20000-2EBEF;
}

@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/notoserifjp/v33/xn71YHs72GKoTvER4Gn3b5eMRtWGkp6o7MjQ2bwxOubA.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/notoserifjp/v33/xn71YHs72GKoTvER4Gn3b5eMRtWGkp6o7MjQ2bwDOubA.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('https://fonts.gstatic.cn/s/notoserifjp/v33/xn71YHs72GKoTvER4Gn3b5eMRtWGkp6o7MjQ2bzWPebA.ttf')
		format('truetype');
}
